* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit";
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.card {
  border: 8px solid white;
  background-color: white;
  position: relative;
}

.card-img {
  border-radius: 4px;
}

.card-title, .card-location {
  color: white;
  position: absolute;
}

.card-title {
  bottom: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: 500;
}

.card-location {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  font-size: 18px;
  top: 24px;
  right: -4px;
}