* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-header {
    background-color: #a1a1a1;
    color: white;
    padding: 16px;
    text-align: left;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-right {
    align-self: flex-end;
    margin-top: 16px;
    margin-right: 8px;
}

.chat-right > p {
    margin: 10px 10px 5px 0;
    padding: 10px;
    background-color: #4CAF50;
    border-radius: 32px;
    padding-right: 32px;
}

.chat-right > .text-delete {
    position: relative;
    background-color: #efefef;
}

span {
    position: absolute;
    color: #fff;
    background-color: #a1a1a1;
    border-radius: 50%;
    padding: 4px;
    top: -4px;
    right: -4px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-left {
    align-self: flex-start;
    margin-top: 16px;
    margin-left: 8px;
}

.chat-left > p {
    margin: 10px 0 5px 10px;
    padding: 10px;
    background-color: #a1a1a1;
    border-radius: 32px;
    padding-right: 128px;
}